@font-face {
  font-family: "Jelly";
  font-display: block;
  src: url("https://yeemachine.github.io/kalidoface-live2d-models/Font/kalidoface-jelly.ttf")
    format("truetype");
}
h1 {
  font-family: "Jelly";
  font-size: 32px;
  color: white;
  position: absolute;
  top: -12px;
  left: 16px;
  font-weight: normal;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1:hover {
  color: #13a3f3;
}
#chatContainer {
  width: 22%;
  height: 74.9%;
  top: 0;
  right: 0;
  position: fixed;
  background-color: #1f1f1f;
  overflow-y: scroll;
  p {
    color: white;
    background-color: none;
    width: 90%;
    /* border-bottom: 1px solid white; */
    padding-bottom: 5%;
  }
}
#settingContainer {
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 25%;
  background-color: #1f1f1f;
  border-top: 1px solid lightgrey;
}
#name {
  width: 100%;
  height: 35%;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-left: 2%;
  background-color: #1f1f1f;
  border: none;
}
#channel {
  display: flex;
  width: 100%;
  height: 65%;
  padding-left: 2%;
  padding-top: 1%;
  /* bottom: 0;
  position: fixed; */
}
#channel_img {
  width: 80px;
  height: 80px;
  border-radius: 80%;
}
#channel_name {
  color: white;
  font-size: 25px;
  padding-bottom: 1%;
  padding-top: 0;
  height: 70%;
  background-color: #1f1f1f;
  align-content: center;
}
#editBtn {
  width: 8%;
  height: 40%;
  margin-left: 70%;
  margin-top: 1.5%;
  align-items: center;
  background-color: #8000db;
  color: white;
  font-size: 22px;
  border: none;
  cursor: pointer;
}
#editBtn:hover {
  background-color: #8351a7;
  color: grey;
}
#channel_list {
  width: 15%;
  height: 75%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #1f1f1f;
}
#channel_name_list {
  width: 100%;
  display: flex;
  height: 10%;
  align-items: center;
  font-size: 16px;
}
#circle {
  width: 15px;
  height: 15px;
  border-radius: 80%;
  background-color: red;
  left: 10%;
  position: fixed;
}
#channel_number {
  color: white;
  left: 10.5%;
  position: fixed;
  font-size: 13px;
}
#channel_profile {
  width: 30px;
  height: 30px;
  border-radius: 80%;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: #222;
  display: inline-block;
}
a:hover,
a:visited:hover,
a:link:hover {
  color: #13a3f3;
  cursor: pointer;
}
.preview {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
}
video {
  max-width: 400px;
  height: auto;
  transform: scale(-1, 1);
}
.preview canvas {
  transform: scale(-1, 1);
}
body {
  margin: 0;
  background-color: #8000db;
  height: 100%;
}
canvas {
  display: block;
  background-color: white;
  margin-left: 15%;
}
.guides {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}
nav {
  position: absolute;
  top: 12px;
  right: 16px;
  display: flex;
}
nav img {
  width: 36px;
  height: auto;
  margin-left: 22px;
}
section {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px 0 16px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  color: white;
  z-index: 2;
  /* border-radius: 40px; */
}
p {
  color: white;
  padding: 8px 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}
.preview a {
  border-radius: 24px;
  margin: 0 4px;
}
.preview a:hover {
  background: #ffffff20;
}
a.current {
  background: #13a3f3;
  pointer-events: none;
}

.linkOut {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: inline;
  color: black;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  video {
    max-width: 160px;
  }
}
